/* .Section__Hero {
  background-image: url('//assets/images/Web.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.Hero__text h1 {
  flex: 1;
 color: white;
 font-family: 'Lobster', Georgia, Times, serif;
 text-align: center;
 padding: 200px;
z-index: 0;
 
}

.Hero__text p {
  padding: 20px;
  font-size: 22px;
  font-family: 'Shrikhand', cursive;
  margin-top: 275px;
}

.Hero__text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer:
}

.Hero h1 {
  position: absolute;
  margin-top: 200px;
  margin-left: 10px;
  
} */


/* New Css */
.Section__Hero {
  position: relative
  margin-top: -21px;
  padding: 10px;
}
.Hero__Image {
  background-image: url('Web.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Hero__Text {
  color: white;
  vertical-align: bottom;
  text-align: center;
}

.Hero__Text h1 {
  padding-top: 30px;
  margin-bottom: -20px;
 
}

@Media only screen and (min-width: 480px) {
  .Hero__Text h1 {
   
  }
}


