@import './components/Section/Section.css';
@import './components/Navigation/Navigation.css';
@import './components/Hero/Hero.css';
@import './components/Navigation/Navigation.css';
@import './components/Dividers/SlantedDiv.css';
@import './components/About/About.css';

body {
  margin: 0;
  padding: 0;
  min-width: 300px;
}

